@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Playfair+Display:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  border-style: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  background-color: #faf5ef;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

header {
  background-color: #8daaa9;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  width: 100%;
}
.logo {
  width: 80px;
  height: 70px;
}
.section_hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-image: url(./assets//fondo8.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10vh;
  margin-bottom: 17vh;
  padding: 90px;
  width: 50%;
  height: 100%;
  color: #333;
  background-color: #f5e8d0;
  box-shadow: 0 15px 8px rgba(0, 0, 0, 0.2);
}
#hero h1 {
  font-size: 3rem;
  font-weight: 600;
  color: #3b3b3b;
  margin-bottom: 20px;
  font-family: "Playfair Display", serif;
}
#hero p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #3b3b3b;
  margin-bottom: 20px;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10vh;
  margin-bottom: 17vh;

  width: 80%;
}
.title {
  font-size: 2.5rem;
  font-weight: 600;
  color: #3b3b3b;
  margin-bottom: 20px;
  background-color: #f5e8d0;
  border-radius: 12px;
  font-family: "Playfair Display", serif;
}
.hero_img {
  width: 340px;
  height: 390px;
}
.section_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(45deg, #faf5ef, #e8ede7, #c3d7d4);
}
.section_container div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10vh;
  margin-bottom: 17vh;
  padding: 90px;
  width: 50%;
  height: 100%;
  color: #333;
  background-color: #faf5ef;
  box-shadow: 0 15px 8px rgba(0, 0, 0, 0.2);
}
.section_container h1 {
  font-size: 3rem;
  font-weight: 600;
  color: #3b3b3b;
  margin-bottom: 20px;
  font-family: "Playfair Display", serif;
}

.section_container ul,
ol {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
  font-weight: bold;
}

.section_container ul li,
ol li {
  font-size: 1rem;
  border: 1px solid #fbf6f6;
  border-radius: 10px;
  background: linear-gradient(45deg, #d3e0dc, #f5e8d0, #e0c1b3);
  padding: 15px;
  color: #333;
  margin-bottom: 20px;
}

.section_container ol li :hover {
  color: #fff;
}

table {
  width: 50%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #faf5ef;
  box-shadow: 0 15px 8px rgba(0, 0, 0, 0.2);
}

th {
  background-color: #8daaa9;
  color: #ffffff;
  padding: 10px;
  width: 100%;
  font-family: "Playfair Display", serif;
}

td {
  text-align: center;
  padding: 10px;
  width: 100%;
}
tr {
  display: flex;
  width: 100%;
}
tr:nth-child(even) {
  display: flex;
  width: 100%;
  background-color: #e8ede7;
}

td img {
  max-width: 120px;
  height: auto;
}

td h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #8daaa9;
  margin: 10px;
  font-family: "Playfair Display", serif;
}

td iframe {
  width: 120px;
  height: auto;
}
.description_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.description {
  font-size: 1rem;
  color: #333;
  text-align: start;
}

/* Estilo para los elementos hijos */
.description span {
  color: #8daaa9;
}
footer {
  background-color: #8daaa9;
  width: 100%;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}
#Container_iframe {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #fbf6f6;
  border-radius: 18px;
}
#Container_iframe strong {
  border: 1px solid #fbf6f6;
  border-radius: 5px;
}
